# Logs & Reports
# Bỏ qua các tệp log và báo cáo chẩn đoán.
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Dependencies
# Thư mục chứa các gói phụ thuộc được cài đặt.
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build & Output
# Các tệp và thư mục được tạo ra trong quá trình build.
build/
dist/
out/
.next/
.nuxt/
.svelte-kit/
.docusaurus/
.serverless/
.vuepress/dist/
**/.vitepress/dist/

# Caching
# Các tệp cache được tạo bởi các công cụ và framework khác nhau.
.cache/
.parcel-cache/
.npm/
.eslintcache
.stylelintcache
*.tsbuildinfo
.temp/
.fusebox/
.firebase/
**/.vitepress/cache/

# Local Environment & Editor
# Các tệp cấu hình môi trường cục bộ và của trình soạn thảo code.
.env
.env.*
!.env.example
.dynamodb/
.tern-port
.vscode-test/
.node_repl_history

# Testing & Coverage
# Các tệp và báo cáo được tạo ra từ việc chạy test.
coverage/
lib-cov/
*.lcov
.nyc_output/

# Package Manager Artifacts
# Các tệp được tạo bởi trình quản lý gói như npm hay Yarn.
*.tgz
.yarn-integrity

# Yarn Plug'n'Play
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Miscellaneous
# Các tệp và thư mục khác.
.grunt/
.lock-wscript
pids
*.pid
*.seed
*.pid.lock
# Bỏ comment dòng dưới nếu dự án của bạn dùng Gatsby thay vì Next.js
# public