* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background: #1b262c;
  color: #f5f5f5;
  overflow-y: scroll;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  box-sizing: border-box;
}
